@model IEnumerable<EventBookSyst.Models.Venue>

@{
    ViewData["Title"] = "Venue Infomation";
}

<h1>Venue Infomation</h1>

@if (TempData["InfoMessage"] != null)
{
<div class="alert alert-info">
    @TempData["InfoMessage"]
</div>
}
@if (TempData["ErrorMessage"] != null) 
{ 
<div class="alert alert-danger"> 
    @TempData["ErrorMessage"] 
</div> 
} 
@if (TempData["SuccessMessage"] != null)
{
<div class="alert alert-success"> 
    @TempData["SuccessMessage"]
</div>
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                Venue Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
					@if (!string.IsNullOrEmpty(item.ImageUrl))
					{
						<img src="@item.ImageUrl" alt="Venue Image" width="150" height="150" style="object-fit:cover; border-radius:8px;" />
					}
                    else
					{
                        <span> No Image</span>
					}
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
