@model EventBookSyst.Models.Booking

@{
    ViewData["Title"] = "Create";
}

<h1>Create Booking</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventId" class="control-label"></label>

                <select asp-for="EventId" class="form-control">
                    <option value="">-- Select Event --</option>
                    @foreach (var eventData in ViewBag.Events)
                    {
                        <option value="@eventData.Id">@eventData.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="VenueId" class="control-label"></label>

                <select asp-for="VenueId" class="form-control">
                    <option value="">-- Select Venue --</option>
                    @foreach (var venue in ViewBag.Venues)
                    {
                        <option value="@venue.Id">@venue.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="BookingDate" class="control-label"></label>
                <input asp-for="BookingDate" class="form-control" />
                <span asp-validation-for="BookingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
