@model IEnumerable<EventBookSyst.Models.Booking>

@{
    ViewData["Title"] = "Booking Page";
}

<h1>Booking Page</h1>

<form asp-action="Index" method="get">
	<div class="form-group">
        <input type="text" name="searchString" placeholder="Search by Booking ID or Event Name" class="form-control" width= "800"/>
	</div>
	<button type="submit" class="btn btn-primary">Search</button>
</form>

@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info">
        @TempData["InfoMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Booking ID
            </th>
            <th>
                Event
            </th>
            <th>
                Venue  
            </th>
            <th>
                Booking Date 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model) 
        {
        <tr>
            <td>
                @booking.Id
            </td>
            <td>
                @booking.Event?.Name
            </td>
            <td>
                @booking.Venue?.Name
            </td>
            <td>
			    @booking.BookingDate.ToString("yyyy-MM-dd")
            </td>
            <td>
                <a asp-action="BookingDate" asp-route-id="@booking.Id">BookingDate</a> |
                    <a asp-action="Details" asp-route-id="@booking.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@booking.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
